* {
    box-sizing: border-box;
}

/* Colors:
Green: #03A062
Purple:#8A2BE2
Beige: #F1E9D6
Red:   #FF0000
Blue:  #1269C7
*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    background: #F1E9D6;
}

#title {
    color: #1269C7;
}

.forms-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    border-left: 8px solid #05A064;
    border-radius: 0%; /* 3px */
    height: 100%;
    width: 25rem;
    max-width: 100%;

    padding-left: 1rem;
}

.subwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px 30px;
    width: 100%;
}

.input-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 100%;
}

.input-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom:2px solid #05A064;
    border-radius: 1px;
}

.input-control input:focus {
    outline:none;
    border-bottom:3px solid #05A064;
}

.input-control i {
    visibility: hidden;
    width: 15px;
    height: auto;
    position: absolute;
    top: 45%;
    right: 5%;
}


.input-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.subwrapper button[type="submit"] {
    display: block;
    font-size: 1rem;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 2px 5px 5px #888888;
}

.user-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alternative {
    margin-top: 14px;
    font-size: 14px;
}

.question {
    color: #888888;
}

#to-login-link,
#to-sign-up-link {
    cursor: pointer;
    color: #1269C7;
    border: none;
    background: transparent;
    text-decoration: underline;
}

/* Validation styles */

.input-control.success input {
    border-color: #05A064;
}

.input-control.success i.fa-check-circle {
    color: #05A064;
    visibility: visible;
}

.input-control.error i.fa-exclamation-circle {
    visibility: hidden;
}

.input-control.success small {
    color: #05A064;
    visibility: visible;
}

.input-control.error input {
    border-color: #FF0000;
}

.input-control.error i.fa-exclamation-circle {
    color: #FF0000;
    visibility: visible;
}

.input-control.error i.fa-check-circle {
    visibility: hidden;
}

.input-control.error small {
    color: #FF0000;
    visibility: visible;
}

.hidden {
    /* visibility: hidden; */
    display: none;
}

@media only screen and (max-width: 890px) {
    body {
        width: 100%;
        height: 100%;
        font-size: 2em;
        border-left: 20px solid #05A064;
        border-radius: 0%; /* 3px */
    }

    .forms-wrapper {
        width: 100%;
        height: auto;
        border: none;
    }

    .subwrapper {
        padding: 1em 1em;
        width: 100%;
    }
    
    .input-control {
        margin-bottom: 2em;
        padding-bottom: 2em;
    }

    .input-control input {
        font-size: 1em;
    }

    .input-control i {
        position: absolute;
        top: 35%;
        right: 5%;
    }

    .subwrapper button[type="submit"] {
        width: 100%;
        height: 100px;
        font-size: 1em;
    }

    .alternative {
        font-size: 1em;
    }

    #to-login-link,
    #to-sign-up-link {
        font-size: 1em;
    }
}