* {
    box-sizing: border-box;
    color: #2C6975;
}

body {
    background: #E0ECDE;

    min-width: 100vw;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.forms-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 20px;
    min-height: 100vh;
    min-width: 100%;
}

#header {
    margin-top: 10vh;
    padding-left: 2rem;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#title {
    color: #2C6975;
    font-weight: bolder;
    margin: 1rem;
    font-size: 2.5em;
}

#logo {
    width: 60px;
    height: auto;
}

.subwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 30px;
    width: 100%;
    min-height: 80vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subwrapper button[type="submit"] {
    display: block;
    font-size: 1rem;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    font-weight: bolder;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #2C6975;
}

.user-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alternative {
    margin-top: 14px;
    font-size: 14px;
}

.input-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 60vw;
}

.input-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom:2px solid #2C6975;
    border-radius: 1px;
    font-weight: bold;
}

.input-control input:focus {
    outline:none;
}

.input-control i {
    visibility: hidden;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 45%;
    right: 5%;
}

.input-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.question {
    color: #888888;
}

#to-login-link,
#to-sign-up-link {
    cursor: pointer;
    color: #1269C7;
    border: none;
    background: transparent;
    text-decoration: underline;
}

/* Validation styles */

.input-control.success input {
    border-color: #2C6975;
}

.input-control.success i.fa-check-circle {
    color: #2C6975;
    visibility: visible;
}

.input-control.error i.fa-exclamation-circle {
    visibility: hidden;
}

.input-control.success small {
    color: #2C6975;
    visibility: visible;
}

.input-control.error input {
    border-color: #FF0000;
}

.input-control.error i.fa-exclamation-circle {
    color: #FF0000;
    visibility: visible;
}

.input-control.error i.fa-check-circle {
    visibility: hidden;
}

.input-control.error small {
    color: #FF0000;
    visibility: visible;
}

.hidden {
    /* visibility: hidden; */
    display: none;
}
